.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  color: #282828;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.input {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
