.categories_container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categories_title {
  align-self: stretch;
  color: #282828;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
