.categories_page {
  margin: auto 40px;
}

.categories_container {
  display: flex;
  flex-direction: column;
}

.navigate_menu {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.navigate_link {
  text-decoration: none;
}

.previous_section {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #8b8b8b;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
}

.current_section {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #282828;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
}

.navigate_line {
  width: 16px;
  height: 1px;
  background: #ddd;
}

/* .categories_title {
} */

.categories_list_container {
  display: grid;
  grid-template-columns: (4, 1fr);
}

.categories_img {
  width: 300px;
  height: 200px;
}

/* .categories_name {
} */
