.allProducts {
  margin: auto 40px;
}

.allProducts_title {
  margin-top: 40px;
  align-self: stretch;
  color: #282828;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.allProducts_sorting_container {
  margin-top: 40px;
  display: flex;
  height: 36px;
  align-items: flex-start;
  gap: 40px;
}
