@media screen and (max-width: 1000px) {
  .navbar {
    width: 28px;
    height: 28px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 30;
  }

  .navbar span {
    width: 100%;
    border: 2px solid #282828;
    transform: scale(1);
  }

  .navbar::before,
  .navbar::after {
    content: "";
    position: absolute;
    width: 87%;
    border: 2px solid #282828;
    transition: all 0.7s ease 0s;
  }

  .navbar::before {
    top: 0px;
  }

  .navbar::after {
    bottom: 0px;
  }

  .active span {
    transform: scale(0);
  }

  .active::before {
    top: 47%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .active::after {
    bottom: 47%;
    transform: rotate(45deg) translate(0, 50%);
  }
}
