section {
  background-image: url("../../assets/images/welcome.svg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 40px;
}

h1 {
  font-size: 96px;
  color: white;
  line-height: 105.6px;
  font-weight: 700;
}

button {
  background: #339933;
  margin-top: 40px;
  border: none;
  height: 58px;
  width: 218px;

  /* max-width: 218px;
  width: 100%; */
}

.checkBtn {
  color: white;
  padding: 16px, 56px, 16px, 56px;
  border-radius: 6px;
}
