.sale_container {
  margin: auto 40px;
  margin-top: 80px;
}

.sale_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.sale_title {
  color: #282828;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.line_btn {
  width: 100%;
  display: flex;
  padding-top: 10px;
  align-items: center;
}

.line {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.sale_btn {
  max-width: 97px;
  width: 100%;
  height: 36px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.sale_items {
  margin-top: 40px;
  display: flex;
  gap: 32px;
}

.sale_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  position: relative;
}

.sale_image {
  height: 284px;
  align-self: stretch;
  border-bottom: 1px solid #ddd;
  background: lightgray;
  background-position: cover;
  background-repeat: no-repeat;
}

.sale_discount {
  display: flex;
  padding: 4px 8px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: 6px;
  background: #393;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  letter-spacing: 0.6px;
}

.sale_info {
  display: flex;
  width: 316px;
  padding: 0px 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sale_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: #282828;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.sale_price {
  display: flex;
  gap: 16px;
  align-items: end;
}

.sale_newPrice {
  color: #282828;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.sale_oldPrice {
  color: #8b8b8b;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: line-through;
}
