.sale_container {
  margin: auto 40px;
  margin-top: 80px;
}

.sale_head {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sale_title {
  color: #282828;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.line_btn {
  display: flex;
  padding-top: 10px;
  align-items: center;
  flex: 1 0 0;
}

.line {
  width: 1093px;
  height: 1px;
  background: #ddd;
}

.sale_link {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}

.sale_intems {
  margin-top: 40px;
  display: flex;
  gap: 32px;
}

.sale_intem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  position: relative;
}

.sale_image {
  height: 284px;
  align-self: stretch;
  border-bottom: 1px solid var(--grey-divider, #ddd);
  background: lightgray;
  background-position: cover;
  background-repeat: no-repeat;
}

.sale_discount {
  display: flex;
  padding: 4px 8px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: var(--txt-white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  letter-spacing: 0.6px;
}

.sale_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--txt-black, #282828);
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}

.sale_price {
  display: flex;
  gap: 16px;
  align-items: end;
}

.sale_newPrice {
  color: var(--txt-black, #282828);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 44px */
}

.sale_oldPrice {
  color: var(--txt-grey, #8b8b8b);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  text-decoration-line: line-through;
}
