.navMenu_container {
  display: flex;
  align-items: center;
}

.navMenu_link {
  text-decoration: none;
}

.navMenu_link {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #8b8b8b;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.navMenu_link:last-child {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #282828;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.line {
  width: 16px;
  height: 1px;
  background: #ddd;
}

@media (max-width: 610px) {
  .navMenu_link,
  .navMenu_link:last-child {
    font-size: 8px;
  }
}

@media (max-width: 455px) {
  .navMenu_link {
    height: 38px;
  }
  .navMenu_link:last-child {
    opacity: 0;
  }
}
