* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav button {
  border: none;
  background-color: white;
  cursor: pointer;
}

nav {
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  gap: 32px;
}
