.footer_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 40px;
}

.contact {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.contact_list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  list-style: none;
  margin-bottom: 32px;
}

.contact_link {
  padding: 32px;
  color: #8b8b8b;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  border-radius: 12px;
  background: #f1f3f4;
  line-height: 130%;
}

.cotact_content {
  color: #282828;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.cotact_content img {
  height: 43px;
  width: 43px;
}

.map {
  background-image: url("../../assets/images/map.svg");
  height: 350px;
  align-self: stretch;
  background-size: cover;
  background-repeat: no-repeat;
}
