* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1440px;
  background-color: #fff;
}
/* 
.modalWindow {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: red;
  align-items: center;
  justify-content: center;
}

.modalWindow div {
  width: 200px;
  height: 100px;
  background-color: green;
} */
