* {
  padding: 0;
  margin: 0;
}

nav {
  margin: 54px 48px auto;
  border: 0px, 0px, 1px, 0px, #dddddd;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

nav .nav_buttons {
  justify-content: space-between;
}

nav button {
  border: none;
  background-color: white;
  font-family: Montserrat-Regular;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #282828;
}
