.form_container {
  max-width: 548px;
  width: 100%;
  padding: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-wrap: wrap;
  background-color: #f1f3f4;
}

.form_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.form_items {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #8b8b8b;
}

.form_total {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #8b8b8b;
}

.order_counter {
  display: flex;
  flex-direction: column;
}

.total_price {
  color: #282828;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.total_string {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.input_order_form {
  padding: 16px 32px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px #ddd;
  color: #8b8b8b;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.form_button {
  padding: 16px 32px;
  cursor: pointer;
  align-self: stretch;
  border-radius: 6px;
  border: none;
  background-color: #339933;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

@media (max-width: 1110px) {
  .form_container,
  .input_order_form {
    max-width: 1110px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .total_price {
    font-size: 40px;
  }
  .form_total,
  .form_items {
    font-size: 30px;
  }
}
